@media only screen and (max-width:991px) {
    .headerSet .navbar-header{float: left;width: auto;}
    .ReactModal__Overlay .ReactModal__Content{width: 100% !important;padding: 15px 20px !important;}
    .modalvideo iframe{width: 100% !important;}
    .ReactModal__Overlay .ReactModal__Content .closepopup{right: 12px !important;}
}
@media only screen and (max-width:767px) {
    .bannContent h2{font-size: 35px !important;}
    .backgrImg .backGrImage{height: 400px !important;}
    .plybuton .fa{height: 80px !important;width: 80px !important;padding: 15px 20px !important;}
    .mainsmllImg{width: 100% !important;}
    .mainsmllImg img{float: none !important;margin: 0 auto !important;}
    .detailsMoviesetmg{margin-top: -75px !important;}
    .detailshere{width: 100% !important;margin-top: 13px !important;}
}
@media only screen and (max-width:540px) {
    .detailshere h2{font-size: 21px !important;margin: 0px 0px 10px !important;}
    .backbtn{margin-top: 15px !important;}
    .detailshere p{font-size: 14px !important;}
    .plybuton{top: 110px !important;}
    .backgrImg .backGrImage{height: 325px !important;}
    .modalvideo iframe{height: 400px !important;}
    .bannContent h2{font-size: 27px !important;}
    .showsHead{margin: 10px 0px 7px !important;font-size: 18px !important;}
}
@media only screen and (max-width:440px) {
    .detailshere h2{width: 100% !important;}
    .backbtn {margin: 0px 0px 10px !important;}
}
